.wrapper.box {
  display: block;
  border: 1px solid black;
  padding: 5px;
}

h2.box {
  padding-bottom: 10px;
}

.box-ul {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.box-li {
  display: inline;
  margin: 15px;
  padding: 5px;
  border: 2px dashed black;
  
  /* `display: inline;` ignores width and height */
  width: 80px;
}