.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.comment-container {
  display: flex;
  margin: 10px;
}

.delete-button {
  margin-left: 15px;
}

.error {
  margin-top: 20px;
  color: red;
}

.cat-pic {
  margin: 20px;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-display {
  margin-bottom: 10px;
}

.comment-form {
  margin: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.user-comment-container {
  margin-right: 10px;
}

.user-comment {
  padding: 5px;
}

.comments {
  border: solid grey 1px;
  height: 400px;
  width: 80%;
  margin: 10px;
  padding: 5px;
  overflow: scroll;
}
