doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Pastas
    link(rel="stylesheet" href="/application.css")
  body
    nav
      ul
        li: a(href="/") Home
        li: a(href="/pasta/create") Create a Pasta
    block content