html {
  font-size: 15px;
  font-family: sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

body {
  background-color: rgb(21, 32, 43);
}