input(type='hidden' name="_csrf" value=csrfToken)
input(name='firstName' placeholder='First Name:' type='text' value=firstName)
input(name='lastName' placeholder='Last Name:' type='text' value=lastName)
input(name='email' placeholder='Email:' type='email' value=email)
input(name='password' placeholder='Password:' type='password')
input(name='confirmedPassword' placeholder='Confirm Password:' type='password')