body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  display: block;
  margin-bottom: .5em;
}

input {
  display: block;
  margin-bottom: 1em;
}
