doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Pet Track
  body 
    header
      ul
        li: a(href="/pets") Pets
        li: a(href="/owners") Owners
    main
      block mainContent
      ul
        li hello
    footer
      block footer