doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    header
      h1 Petrack
      nav
        ul
          li: a(href="/pets") Pets
          li: a(href="/owners") Owners
    main
      block content
